﻿@model List<BrandModel>

@{
    ViewData["Title"] = "Brands";
}

<h1>Brands</h1>
<a asp-controller="Brand" asp-action="Create">Create</a>
<table class="table">
    <thead>
    <tr>
        <th>Name</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var brand in Model)
    {
        <tr>
            <td>
                @brand.Name
            </td>
        </tr>
    }
    </tbody>
</table>


