﻿@model List<OrderModel>
@{
    ViewData["Title"] = "Orders";
}

<h1>Products</h1>
<table class="table">
    <thead>
    <tr>
        <th>Product's brand and name</th>
        <th>Product's price</th>
        <th>Order's datetime</th>
        <th>Customer's name</th>
        <th>Order's price</th>
        <th>Order's comment</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var order in Model)
    {
        <tr>
            <td>@order.Brand @order.ProductName</td>
            <td>@order.ProductPrice</td>
            <td>@order.OrderDateTime</td>
            <td>@order.CustomerName</td>
            <td>@order.OrderPrice</td>
            <td>@order.OrderComment</td>
        </tr>
    }
    </tbody>
</table>


